<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>hibernate-webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>com.cdac.servlet.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/add-customer.cdac</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCustomerServlet</display-name>
    <servlet-name>FetchCustomerServlet</servlet-name>
    <servlet-class>com.cdac.servlet.FetchCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCustomerServlet</servlet-name>
    <url-pattern>/fetch-customer.cdac</url-pattern>
  </servlet-mapping>
</web-app>